<a href="https://colab.research.google.com/github/Jessica-Emereuwa/GoMyCode-DataScience/blob/main/dataframe_Filtering_and_Selection_using_iloc_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
In this exercise, you will work with a dataset called "employee info" that contains information about employees in a company. The dataset includes columns such as Name, Department, Age, Gender, Salary, and Experience.


Instructions

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)



Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:

iloc is used for selection by index location
loc is used for selection by label.



How We'll Evaluate

Your checkpoint will be evaluated based on these criteria, each rated from 0 to 5.

What We're Looking For

Student must be able to import the pandas library and create a dataframe called "employee_df" using the provided data dictionary. The dataframe should include all columns and rows specified in the instructions.

Student must be able to use the iloc method to select the first 3 rows of the dataframe. The resulting output should match the expected output, which includes the first 3 rows of the dataframe.

Student must be able to use the loc method to select all rows where the Department is "Marketing". The resulting output should match the expected output, which includes all rows where the Department is "Marketing".

Student must be able to use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe. The resulting output should match the expected output, which includes the Age and Gender columns for the first 4 rows of the dataframe.

Student must be able to use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male". The resulting output should match the expected output, which includes the Salary and Experience columns for all rows where the Gender is "Male".
"""



import pandas as pd

data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Departmet': ['IT', 'Marketing', 'Sales', 'IT', 'Finance','Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

    Name  Departmet  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [ ]:
# Selecting the first 3 rows using iloc
print(employee_df.iloc[:3])

   Name  Departmet  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [ ]:
# Selecting all rows where Department is "Marketing" using loc
print(employee_df.loc[employee_df['Departmet'] == 'Marketing'])

   Name  Departmet  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [ ]:
# Selecting Age and Gender columns for the first 4 rows using iloc
print(employee_df.iloc[:4, [2, -3]])

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [ ]:
# Selecting Salary and Experience columns for all rows where Gender is "Male" using loc
print(employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']])

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10